* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  font-family: "Ubuntu", sans-serif;
  align-items: center;
  background-color: #0d7377;
}

.logo {
  color: white;
  letter-spacing: 3px;
  font-family: "Shadows Into Light Two", cursive;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
  color: silver;
}

.nav-links a {
  text-decoration: none;
  color: silver;
}

.burger {
  cursor: pointer;
  display: none;
}

.burger div {
  height: 3px;
  width: 25px;
  background-color: silver;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .burger {
    display: block;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    top: 8vh;
    height: 92vh;
    background-color: #0d7377;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }
}

.navSlide {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.toggle .line2 {
  opacity: 0;
}
